<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andhra pradesh</title>
</head>
<body>
    <center><h1 style="color: crimson;">Welcome to Andhra pradesh</h1>
    <h2 style="color: cornflowerblue;">Best Places to Visit AP
        Tirupati: Sacred Hill Temples.
        Araku Valley: Coffee & Waterfalls.
        Vizag: Coastal City Charms.
        Lepakshi: Ancient Art Marvels.
        Ahobilam: Narasimha's Abode.
        Yaganti: Rock-Cave Splendor.
        Vijayawada: Riverside Delights.
        Rajmundry: Godavari Getaway.</h2>
    </center>
</body>
</html>