<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bangalore</title>
</head>
<body style="background-color: chartreuse;">
    <center><h1>Welcome to bangalore</h1>
    <h2>Karnataka. With its white waterfalls, mist-covered hills and verdant forests, Karnataka encompasses some of the most diverse landscapes in the world. Coorg is a must-visit destination for those in search of a breathtaking hill station.</h2></center>
</body>
</html>