<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coimbatore</title>
</head>
<body>
    <center>
        <h1>
            Welcome to Coimbatore
            
        </h1>
        <h2 style="color: blue;">Kodiveri Dam. Dams • Waterfalls. By 584sawl. ...
            Kovai Kuttralam. Waterfalls. By VijayRajSelvam. ...
            Monkey Falls. 122. Waterfalls. ...
            Siruvani Falls and Dam. Waterfalls. By ahamed2701. ...
            Aliyar Dam. Dams. Open now. ...
            Aliyar Dam Reservoir Park. Parks • Dams. Open now. ...
            Vaidehi Waterfall. Waterfalls. By PRIYAA1989. ...
            Bhavani Sagar Dam. Dams. By kovaiRavindran.</h2>
    </center>
</body>
</html>