<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hyderabad</title>
</head>
<body>
    <center>
        <h1>
            Welcome to Hyderabad
        </h1>
        <h2 style="color: cadetblue;">Heritage monuments: Hyderabad is known for its heritage monuments, including the Charminar, Golconda Fort, and the Qutb Shahi Tombs. These monuments are a testament to the city's rich history and architectural legacy</h2>
    </center>
</body>
</html>