{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>login successfully</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Have a nice day World....!</h1>
          <p class="lead">you have successfully login hope you are doing well keep searching what you want or keep on eye below...</p>
        </div>
    </div>


</form>
<div class="card-deck">
  <div class="card">
    <img src="{% static 'images/ap.jpeg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Andhra pradesh</h5>
      <p class="card-text">Green city with costal beach with peacefully city with good facilities</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'andhra' %}" class="btn btn-primary">Go for more info</a>
    </div>
  </div>
  <div class="card">
    <img src="{% static 'images/bangalore.jpeg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Bangalore</h5>
      <p class="card-text">city with good infrastructure with good climate condition with cool climate</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'bangalore' %}" class="btn btn-primary">Go for more info</a>
    </div>
  </div>
  <div class="card">
    <img src="{% static 'images/jandk.jpeg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Jammu kashmir</h5>
      <p class="card-text">with high mountains and snow with high altitude with low degree temp with cold climate</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'jandk' %}" class="btn btn-primary">Go for more info</a>
    </div>
  </div>
</div>

<div class="card-deck">
  <div class="card">
    <img src="{% static 'images/vizag.jpeg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Visakhapatnam</h5>
      <p class="card-text">Green city with costal beach with peacefully city with good facilities</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'vizag' %}" class="btn btn-primary">Go for more info</a>
    </div>
  </div>
  <div class="card">
    <img src="{% static 'images/hyd.jpeg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Hyderabad</h5>
      <p class="card-text">city with good infrastructure with good climate condition with cool climate</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'hyd' %}" class="btn btn-primary">Go for more info</a>
    </div>
  </div>
  <div class="card">
    <img src="{% static 'images/coim.jpeg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Coimbatore</h5>
      <p class="card-text">with high mountains and snow with high altitude with low degree temp with cold climate</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'coim' %}" class="btn btn-primary">Go for more info</a>
    </div>
  </div>
</div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
</html>