<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIZAG</title>
</head>
<body>
    <center>
        <h1 style="color: darkcyan;">Welcome to Visakhapatnam</h1>
        <h2 style="color: burlywood;">Sprawling along the pristine waters of the Bay of Bengal, Visakhapatnam, the largest city of Andhra Pradesh, is a beach paradise. Boasting stretches of golden sand kissed by tranquil waters, the city is surrounded by picturesque waterfalls, lush forests and scenic hill stations.</h2>
    </center>
</body>
</html>